body{
  background-image: url("./Dictionary\ app.png");
  background-size: cover;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-size: 60px;
  color: bisque;
}

.highlight1{
  background-color: rgb(194, 92, 109);
  padding:6px;
}

.highlight2{
  background-color: #E7BB41;
    padding: 6px;
}

.highlight3{
  background-color: #44A1A0;
  padding: 6px;
}
