.result{
 
display: flex;
  justify-content: center;
  align-items: center;
 
}

.result-box{

   background-color: azure;
    width:500px;
  margin-top:90px auto;
  padding:10px;
  border-radius: 10px;

}

.phonetic{
  margin: 20px 120px;
  padding:10px;
  background-color: bisque;
}

.inline-synonym{
  display: flex;
  justify-content: space-evenly;
}

.synonym{
  margin-right: 15px;
}